In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('job_descriptions.csv')

In [3]:
df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [4]:
df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [5]:
df.Experience

0          5 to 15 Years
1          2 to 12 Years
2          0 to 12 Years
3          4 to 11 Years
4          1 to 12 Years
               ...
1532921    4 to 10 Years
1532922    4 to 15 Years
1532923     3 to 8 Years
1532924    2 to 10 Years
1532925    4 to 10 Years
Name: Experience, Length: 1532926, dtype: object

In [6]:
df.Salary Range

SyntaxError: invalid syntax (1369121044.py, line 1)

In [7]:
df.rename(columns={"Job Id":"Job_Id","Salary Range":"Salary_Range","Work Type":"Work_Type","Company Size":"Company_Size",
                   "Company Size":"Company_Size","Job Posting Date":"Job_Posting_Date","Contact Person":"Contact_Person",
                   "Job Title":"Job_Title","Job Portal":"Job_Portal","Job Description":"Job_Description","Company Profile":"Company_Profile"},inplace=True)

In [8]:
df.columns

Index(['Job_Id', 'Experience', 'Qualifications', 'Salary_Range', 'location',
       'Country', 'latitude', 'longitude', 'Work_Type', 'Company_Size',
       'Job_Posting_Date', 'Preference', 'Contact_Person', 'Contact',
       'Job_Title', 'Role', 'Job_Portal', 'Job_Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company_Profile'],
      dtype='object')

In [9]:
df.Salary_Range

0           $59K-$99K
1          $56K-$116K
2          $61K-$104K
3           $65K-$91K
4           $64K-$87K
              ...
1532921    $55K-$110K
1532922    $57K-$121K
1532923    $61K-$130K
1532924    $56K-$112K
1532925    $61K-$102K
Name: Salary_Range, Length: 1532926, dtype: object

In [10]:
df.describe()

             Job_Id      latitude     longitude  Company_Size
count  1.532926e+06  1.532926e+06  1.532926e+06  1.532926e+06
mean   1.548972e+15  1.937372e+01  1.640038e+01  7.371248e+04
std    8.945626e+14  2.355403e+01  7.066959e+01  3.530097e+04
min    1.817948e+11 -4.090060e+01 -1.751982e+02  1.264600e+04
25%    7.741864e+14  5.152100e+00 -1.531010e+01  4.312325e+04
50%    1.548003e+15  1.807080e+01  1.914510e+01  7.364300e+04
75%    2.323522e+15  3.907420e+01  4.757690e+01  1.043090e+05
max    3.099618e+15  7.170690e+01  1.780650e+02  1.348340e+05

In [11]:
df.shape

(1532926, 23)

In [12]:
df.isnull().sum()

Job_Id                 0
Experience             0
Qualifications         0
Salary_Range           0
location               0
Country                0
latitude               0
longitude              0
Work_Type              0
Company_Size           0
Job_Posting_Date       0
Preference             0
Contact_Person         0
Contact                0
Job_Title              0
Role                   0
Job_Portal             0
Job_Description        0
Benefits               0
skills                 0
Responsibilities       1
Company                1
Company_Profile     5221
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.isnull().sum()

Job_Id              0
Experience          0
Qualifications      0
Salary_Range        0
location            0
Country             0
latitude            0
longitude           0
Work_Type           0
Company_Size        0
Job_Posting_Date    0
Preference          0
Contact_Person      0
Contact             0
Job_Title           0
Role                0
Job_Portal          0
Job_Description     0
Benefits            0
skills              0
Responsibilities    0
Company             0
Company_Profile     0
dtype: int64

In [15]:
df.drop_duplicates(inplace=True)

In [17]:
df.to_csv(r"C:\Users\Subhajit\Desktop\Data Analytics\Python\Updated.csv",index=False)